* {
    box-sizing: border-box;
}

body {
    background: #ce762f
}

button {
    margin: 10px 10px 0 0;
    padding: 10px;
    border-radius: 10px;
    background: #bf5700;
    color: #ffffff;
    font-weight: 400;
    border-style: none;
    border: 1px solid #333f48;
}

.newbtn-container {
    line-height: 150%;
}

label {
    font-weight: 400;
    color: #ffffff;
    text-shadow: -1px 0 #333f48, 0 1px #333f48, 1px 0 #333f48, 0 -1px #333f48;
}

input {
    width: 80%;
}

div .gif-images {
    display: inline-block;
    margin-left: 5px;
}

.gifs-container {
    margin-top: 20px;
}

.gifs-container {
    width: 70%;
    float: left;
}

p {
    margin-top: 2px;
    color: #ffffff;
    text-shadow: -1px 0 #333f48, 0 1px #333f48, 1px 0 #333f48, 0 -1px #333f48;
}

.newbtn-container {
    margin-top: 20px;
    width: 30%;
    float: right;
}
    
@media screen and (max-width: 640px) {
    .newbtn-container {
        margin-top: 20px;
        width: 100%;
        float: left;
    }
}