.aircraft {
    margin: 10px 10px 0 0;
}

div .gif-images {
    display: inline-block;
    margin-left: 5px;
}

.gifs-container {
    margin-top: 20px;
}

.gifs-container {
    width: 70%;
    float: left;
}

.newbtn-container {
    margin-top: 20px;
    width: 30%;
    float: right;
    line-height: 150%;
}
    
